//custom.scss
$primary: rgb(37 99 235 / .9);
$secondary: green;
$danger: rgb(220 38 38 / .9);
$warning: rgb(234 88 12 / .9);
$light: rgb(243 244 246 / 1);

@import "../node_modules/bootstrap/scss/bootstrap";